@import url(/fonts/SofiaSansCondensed-VariableFont_wght.ttf);

body{
    text-align: left;
}

header{
    display: block;
    position: relative;
    background-color:rgba(163, 118, 67, 0.986);
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-position-y:5vh;
    animation: fade 2s 1 ease-in-out;
}
 @keyframes fade{
    from {top:0; opacity:1;}
    to {top:-100vh; opacity: 0.2;}
 }


h1,h2{
    position: relative;
    text-align: center;
    margin:auto;
    top:50%;
    border: none;
}
h1{
    font-size: 10vw;
}
nav{
    display: block;
    position: fixed;
    background-color: white;
    width:100vw;
    height:1.5em;
    top:0;
    text-align: center;
    z-index: 10;
}
nav li{
    display: inline-block;
    margin: 0.25em 10%;
}

main{
    margin:10%;
}

section{
    font-family:"Sofia", Helvetica, sans-serif;
    position: fixed;
    height: 100vh;
    top:100vh;
    transition: top 2s;
}

section:target{
    top:0;
}

p{
    position: relative;
    margin: auto;
    top:20vh;
}

a{
    display: inline-block;
    position: relative; 
    font-size: 2vw;
    margin: 1em;
    min-width: none;
    max-width: 30vw;
    top:50vh;
    color: black;
    text-decoration:none;
    border: solid 1px black;
    border-radius: 20px;
    padding: 0.5em;
    
}



